{
  "extends": ["stylelint-config-mercari", "stylelint-config-prettier", "stylelint-config-css-modules"],
  "plugins": ["stylelint-scss", "stylelint-order"],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
